//color 
$primary: #AA0601;
$primary-dark: #650300;
$secondary: #AA06010D;
$gray-100: #F2F2F2;
$gray-200: #DEE2E6;
$gray-300: #707070; 
$gray-400: #212529;
$white: #fff;
$black: #000;

//font-size
$base-font-size: 16px;

$fz-1: 4.5rem;  //72px
$fz-2: 4rem;    //64px
$fz-3: 3rem;    //48px
$fz-4: 2.5rem;  //40px
$fz-5: 2.25rem; //36px
$fz-6: 2rem;    //32px
$fz-7: 1.75rem; //28px
$fz-8: 1.62rem; //26px
$fz-9: 1.5rem;  //24px
$fz-10: 1.25rem;//20px
$fz-11: 1rem;   //16px
$fz-12: 0.87rem;//14px
$fz-13: 0.75rem;//12px








